.Tache {
  // cursor: pointer;
  // user-select: none;
  color: #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 5px 0px #888;
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0;
  position: relative;

  &:first-of-type {
    margin-top: 0
  } 
  
  &:last-of-type {
    margin-bottom: 0;
  }

  .btn-padding-reduit-gauche {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  
  .btn-padding-reduit-droite {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }

  &.completee {
    opacity: 0.7;

    .texte, .date {
      text-decoration: line-through;
      opacity: 0.3;
      color: #900;
    }  
  }

  .texte {
    flex-grow: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;

    &:hover{
      cursor: pointer;
      position: absolute;
      width: calc(100% - 145px);
      margin-left: 45px;
      z-index: 10;
      display: inline-block;
      background-color: #eee;
      border: 1px solid #888;
      border-radius: 3px;
      padding: 10px;
      overflow: visible; 
      white-space: normal;
    }
  }

  .date {
    padding: 0 10px;
    font-size: 0.9em;
    white-space: nowrap;
  }
}