.Utilisateur {
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 0.5rem;

  .btn-deconnexion {
    display: block;
    font-size: 0.70rem;
  }
}